@import "tailwindcss";

:root {
  --background: #ffffff;

  --foreground: #171717;

  --muted-5: color-mix(in oklch, var(--accent), white 95%);

  --muted-10: color-mix(in oklch, var(--accent), white 90%);

  --muted-25: color-mix(in oklch, var(--accent), white 75%);

  --muted-50: color-mix(in oklch, var(--accent), white 50%);

  --muted-75: color-mix(in oklch, var(--accent), white 25%);

  --muted-foreground-50: color-mix(in oklch, var(--foreground), white 50%);

  --muted-foreground-60: color-mix(in oklch, var(--foreground), white 40%);

  --muted-foreground-75: color-mix(in oklch, var(--foreground), white 25%);

  --muted-foreground: var(--muted-foreground-50);

  --accent: oklch(0.5783 0.2315 260.54);
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-muted-5: var(--muted-5);

  --color-muted-10: var(--muted-10);

  --color-muted-25: var(--muted-25);

  --color-muted-50: var(--muted-50);

  --color-muted-75: var(--muted-75);

  --color-muted-foreground-50: var(--muted-foreground-50);

  --color-muted-foreground-60: var(--muted-foreground-60);

  --color-muted-foreground-75: var(--muted-foreground-75);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);
}

@layer base {
  body {
    background: var(--page-background);
    color: var(--foreground);
  }
}
