@property --g-angle {
  syntax: "<angle>";
  initial-value: 225.69deg;
  inherits: false;
}
@property --g-stop1 {
  syntax: "<percentage>";
  initial-value: -12.38%;
  inherits: false;
}
@property --g-stop2 {
  syntax: "<percentage>";
  initial-value: 55.51%;
  inherits: false;
}

.loader {
  --g-angle: 225.69deg;
  --g-stop1: -12.38%;
  --g-stop2: 55.51%;

  position: relative;
  background: linear-gradient(
    var(--g-angle),
    var(--muted-25) var(--g-stop1),
    var(--accent) var(--g-stop2)
  );
  animation: shifting-gradient 3.2s infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.sparkle {
  animation: spinning-sparkle 3.2s infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  transform: translateX(0);
}

@keyframes spinning-sparkle {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(42px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes shifting-gradient {
  0% {
    --g-angle: 225.69deg;
    --g-stop1: -12.38%;
    --g-stop2: 55.51%;
  }
  50% {
    --g-angle: 131.05deg;
    --g-stop1: -13.19%;
    --g-stop2: 76.2%;
  }
  100% {
    --g-angle: 225.69deg;
    --g-stop1: -12.38%;
    --g-stop2: 55.51%;
  }
}
