.loader {
  position: relative;
  background-image: linear-gradient(
    131.05deg,
    var(--muted-25) -13.19%,
    var(--accent) 76.2%
  );
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-image: linear-gradient(
    225.69deg,
    var(--muted-25) -12.38%,
    var(--accent) 55.51%
  );
  opacity: 1;
  animation: loading-gradient 3.2s infinite;
}

.sparkle {
  animation: spinning-sparkle 3.2s infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  transform: translateX(0);
}

@keyframes spinning-sparkle {
  0% {
    transform: translateX(0);
    rotate: 0deg;
  }
  50% {
    transform: translateX(42px);
    rotate: 180deg;
  }
  100% {
    transform: translateX(0);
    rotate: 0deg;
  }
}

@keyframes loading-gradient {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
